<!DOCTYPE html>
<html>
  <head>
    <title> 캡스톤디자인1 크롤러 DB 조회 </title>
    <link rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="keywords", content="DB 검색">
    <meta name="description", content="뉴스 크롤러 DB검색">
    <meta name="Author", content="유승재">
    <meta name="viewport", content="width=device-width, user-scalable=no">
    <script type="text/javascript" async src="https://www.google-analytics.com/analytics.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65985931-3"></script>
  </head>

  <body>
    <div class="field">
      <center>
        <h1>캡스톤 디자인</h1>
      </center>
    </div>
    <div class="ui container">
      <form action="/index" method="GET" class="ui form">
        <div class="field">
          <div class="field">
            <label> 검색어 </label>
            <input type="text" name="query">
          </div>

          <div class="field">
            <button type="submit" class="ui button">검색</button>
          </div>
        </div>
      <div class="ui grid">
        <div class="row">
          <div class="column">
            <div class="ui stackable cards one", id="card-content">
              {%for row in rows%}
              <div class="ui fluid card">
                <div class="content">
                  <div class="header">{{row.title}}</div>
                  <div class="meta">
                    <span class="publisher">{{row.mediaName}}|</span>
                    <span class="date">{{row.publishDate}}</span>
                    <span class="author">{{row.author}}</span>
                    <p class="text-orange">#{{row.keyword1}} #{{row.keyword2}} #{{row.keyword3}} </p>
                  </div>

                  <div class="description">{{row.summarized}}</div>
                </div>
              </div>
              {%endfor%}

            </div>
          </div>
        </div>
      </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>



  </body>



</html>
