doctype html
html
    head
        title 시스메틱 딥러닝 카테고리 분류 엔진
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no")
        script(type="text/javascript" src="https://www.google-analytics.com/analytics.js")

    // body start
    body(cz-shortcut-listen="true")
        div.ui.container
            h2(style="margin-top: 20px;") 시스메틱 딥러닝 카테고리 분류 엔진
            h4 뉴스의 카테고리를 자동으로 분류해 주는 엔진입니다. 현재 카테고리 분류 (23개)
            h5 정치, 경제, 금융, 부동산, 교육, 사회, 취업, 음식, 건강, 문화, 생활, 자동차, 패션/뷰티, 여행, 종교, 세계, e스포츠/게임, IT/인터넷/통신, 모바일, 스포츠, 엔터테인먼트, 영화/뮤직, 컴퓨터
            br

        div.ui.container
            form.ui.form(action="/deeplearning" method="POST")
                textarea(name="content" rows="10" placeholder="키워드 추출할 글을 복사 붙여넣기 해주세요")
                button.ui.button(type="submit" style="margin-top: 20px;") 카테고리 분류
                br
        

        div.field
            div.ui.container
                br
                br
                center
                  h3= keywords
