doctype html
html(lang="ko")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        link(href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css")
        link(href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet")
        link(href="css/stylish-portfolio.min.css" rel="stylesheet")


    body(cz-short-listen="short")
        header.masthead.d-flex
            .container.text-center.my-auto
                h1.mb-1 MoYa
                h3.mb-5
                    em AI engine based news service
                div.container
                  div.row
                    div.col-sm
                    div.col-sm
                      a.btn.btn-primary.btn-xl.btn-block.ml-12.mr-12(href="/news") MoYa News
                      a.btn.btn-primary.btn-xl.btn-block.ml-12.mr-12(href="http://sysmetic.co.kr/bigdata/news") Sysmetic News
                    div.col-sm

        div.content-section.bg-light
            .container.text-center
                div.col-lg-10.mx-auto
                    h1 MoYa Engines
                    p.lead.mb-5 Experience our variety of engines
                .row
                    .col-sm
                        h4 AI keyword engine
                        a.btn.btn-dark.btn-xl.ml-3.mr-3(href="/keyword") Test Engine
                    .col-sm
                        h4 AI summary engine
                        a.btn.btn-dark.btn-xl.ml-3.mr-3(href="/summarize") Test Engine
                    .col-sm
                        h4 AI collocation engine v0.1
                        a.btn.btn-dark.btn-xl.ml-3.mr-3(href="/collocation") Test Engine
                
                .row.mt-5
                    .col-sm
                        h4 AI sentiment engine v0.1
                        a.btn.btn-dark.btn-xl.ml-3.mr-3(href="/sentiment") Test Engine
                    .col-sm 
                        h4 AI cateogry classification engine
                        a.btn.btn-dark.btn-xl.ml-3.mr-3(href="/deeplearning") Test Engine
                    .col-sm
                        h4 English News Sentiment
                        a.btn.btn-dark.btn-xl.ml-3.mr-3(href="/englishSentiment") Test Engine
                .row.mt-5
                    .col-sm
                        h4 API document
                        a.btn.btn-dark.btn-xl.ml-3.mr-3(href="http://api.sgcslab.com") API document

        div.content-section.bg-primary.text-white.text-center
            div.container
                .content-section-heading
                    h2.mb-5 Contact
            div.row
                div.col-lg-3.col-md-6.mb-5.mb-lg-0
                    span.service-icon.rounded-circle.mx-auto.mb-3
                        i.icon-call-end 
                    p 02-6338-1880
                div.col-lg-3.col-md-6.mb-5.mb-lg-0
                    span.service-icon.rounded-circle.mx-auto.mb-3
                        i.icon-envelope
                    p help@moya.ai
                div.col-lg-3.col-md-6.mb-5.mb-lg-0
                    span.service-icon.rounded-circle.mx-auto.mb-3
                        i.icon-diamond
                    p 419, Teheran-ro, Gangnam-gu,
                    p Seoul Republic of Korea
                div.col-lg-3.col-md-6.mb-5.mb-lg-0
                    span.service-icon.rounded-circle.mx-auto.mb-3
                        a.icon-social-facebook(href="https://www.facebook.com/MOYAAI")
                    p facebook

        script(src="vendor/jquery/jquery.min.js")
        script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
        script(src="vendor/jquery-easing/jquery.easing.min.js")
        script(src="js/stylish-portfolio.min.js")
                    



        
